.aboutSection {
    padding: 50px;
    text-align: center;
    background-color: #003d29;
}
.aboutSection h1{
    background-color: #003d29;
    color: white;
    border: 1px solid white;
    margin-top: 5px;
    font-family: sans-serif;
}