.wrapperHeader{
    width: 100vw;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    border-bottom: 1px solid black;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100vw;
}

.res-logo{
    width: 150px;
    margin-left: 40px;
}

.res-logo img{
    width: 150px;
    height: 48.48px;
}

.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.nav-item{
    color: #02060CBF;
    font-size: 18px;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    margin: 0px 16px;
    padding: 6px 0px;
    transition: all 1.ms;
}

.nav-item:hover{
    color: #ff5200;
    border-bottom: 4px solid #ff5200;
}
