.wrapperHeader{
    width: 98.9vw;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    border-bottom: 1px solid black;
}

.Header{
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

.res-logo{
    width: 150px;
}

.res-logo img{
    width: 150px;
    height: 48.48px;
}

.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-left: 5rem;
}

.nav-item{
    color: #02060CBF;
    font-size: 18px;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:500;
    margin: 0px 16px;
    padding: 6px 0px;
    transition: all 1.ms;
}

.nav-item:hover{
    color: #ff5200;
    border-bottom: 4px solid #ff5200;
}

.login-button{
    border-color: #ff5200;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
    color: #ff5200;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    transition: all 1ms;
}

.login-button:hover{
    background-color: #ff5200;
    color: white;
    border-radius: 5px;
}