

.restaurant-menu{
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.restaurant-menu .restaurant-title{
    font-family: sans-serif;
    text-decoration: underline;
    color: #003d29;
    border-radius: 5px;
    background-color: white;
    margin-top: 0.5rem;
}